/* Literata
=======================*/
@font-face {
    font-family: 'Literata-ExtraLight';
    src: url('../fonts/Literata/Literata-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Literata-Light';
    src: url('../fonts/Literata/Literata-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Literata-Medium';
    src: url('../fonts/Literata/Literata-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

/* Inter
=======================*/
@font-face {
    font-family: 'Inter-ExtraLight';
    src: url('../fonts/Inter/Inter_18pt-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-Light';
    src: url('../fonts/Inter/Inter_18pt-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-LightItalic';
    src: url('../fonts/Inter/Inter_24pt-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: 'Inter-Medium';
    src: url('../fonts/Inter/Inter_18pt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
