* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;

    --color-primary: #191921;
    --color-secondary: #E3E3E3;
    --color-tertiary: #6B665D;
    --color-accent: #5B6D2E;
    --bg-card: #FCF9EF;
    --nav-color: #F3EFE5;
    --color-section: rgba(246, 237, 208, 0.4);
    --footer-bg: #2B2B2B;
}

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
}

body {
    color: var(--color-primary);
    background: #F9F3E0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.8rem;
    font-family: 'Literata-Light', serif;
    height: 100%;
}

@media (min-width: 769px) {
    body {
        grid-template-columns: repeat(12, 1fr);
        padding: 0;
    }
}