* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;

    --color-primary: #191921;
    --color-secondary: #E3E3E3;
    --color-tertiary: #6B665D;
    --color-accent: #5B6D2E;
    --nav-color: #F3EFE5;
    --color-section: rgba(246, 237, 208, 0.4);
}

body {
    color: var(--color-primary);
    background: #F9F3E0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.8rem;
}

@media (min-width: 769px) {
    body {
        grid-template-columns: repeat(12, 1fr);
        padding: 0;
    }
}