/* Carousel
   ========================*/
.store__section-carousel {
    background: var(--color-section);
    position: absolute;
    left: 0;
    max-width: 100vw;
    padding: 1rem;
    overflow-x: scroll;
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
}


/* Card
   =======================*/

.book-card {
    overflow: hidden;
    width: 215px;
    height: 437px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.book-card__info {
    background-color: #fafafa;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.book-card__info-detail {
    padding: 0.30rem 0.30rem 0.15rem 0.30rem;
}

.book-card__title {
    font-family: 'Literata-Medium', serif;
    color: var(--color-primary);
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    line-height: 1.14;
}

.book-card__author {
    font-family: 'Inter-Medium', sans-serif;
    font-size: 0.86rem;
    line-height: 1.24;
    color: var(--color-tertiary);
}

.book-card__image {
    position: relative;
    bottom: -5px;
    width: 100%;
}

/* Actions
   =================== */

.book-card__actions {
    width: 100%;
    display: flex;
    justify-content: space-between;;
    text-align: center;
}

.book-card__more-button,
.book-card__cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-card__more-button {
    width: 175px;
    font-family: 'Literata-Medium', serif;
    font-size: 1.1rem;
    color: var(--color-secondary);
    background-color: var(--color-accent);
    border: none;
    border-radius: 8px;
}

.book-card__cart-button {
    width: 34px;
    background: none;
    border: none;
    aspect-ratio: 1 / 1;
    border-radius: 100px;
}

.book-card__cart-button img {
    width: 100%;
    height: 100%;
}
