/* Carousel
   ========================*/
.carousel-wrapper {
    max-width: 100vw;
    margin-left: -1rem;
    padding: 1rem 0;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}
.carousel-wrapper::-webkit-scrollbar {display: none;}

.store__section-carousel {
    background: var(--color-section);
    padding: 0 0 0 1rem;
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
    z-index: 5;
}


/* Card
   =======================*/

.book-card {
    overflow: hidden;
    width: clamp(220px, 20vw, 230px);
    aspect-ratio: 215 / 437;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    z-index: 3;
    scroll-snap-align: center;
}

.book-card__info {
    background-color: var(--bg-card);
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 0.5rem;
    flex-grow: 1;
}

.book-card__info-detail {
    padding: 0.30rem 0.30rem 0.15rem 0.30rem;
}

.book-card__title {
    font-family: 'Literata-Medium', serif;
    color: var(--color-primary);
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    line-height: 1.14;
}

.book-card__author {
    font-family: 'Inter-Medium', sans-serif;
    font-size: 0.86rem;
    line-height: 1.24;
    color: var(--color-tertiary);
}

.book-card__image-container {
    width: 100%;
    aspect-ratio: 215 / 360;
    overflow: hidden;
}

.book-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Actions
   =================== */

.book-card__actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.book-card__more-button,
.book-card__cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-card__more-button {
    width: clamp(10.9rem, 16vw, 11.8rem);
    font-family: 'Literata-Medium', serif;
    font-size: 1.1rem;
    color: var(--color-secondary);
    background-color: var(--color-accent);
    border: none;
    border-radius: 8px;
}

.book-card__cart-button {
    width: 34px;
    background: none;
    border: none;
    aspect-ratio: 1 / 1;
    border-radius: 100px;
}

.book-card__cart-button img {
    width: 100%;
    height: 100%;
}

/* genre card
   ==========================*/

.genre-card__wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(250px, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.4rem;
}

.genre-card__button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 245px;
    height: 54px;
    border-radius: 8px;
    border: none;
    background-color: var(--bg-card);
    color: var(--color-primary);
    font-size: 1.6rem;
    font-family: 'Literata-Medium', serif;
    /*text-decoration: underline;*/
    letter-spacing: 0.1rem;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2)
}


