.hero {
    width: 90vw;
    min-height: 51vh;
    font-family: 'Literata-ExtraLight', serif;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.8rem;
    justify-self: center;
    align-items: center;
    margin-top: clamp(4rem, 60vw, 8.5rem);
    overflow: hidden;
}

.hero-title {
    margin: 0 auto;
    font-size: clamp(0.5rem, 16vw, 6rem);
    letter-spacing: 0.5rem;
    line-height: 1.14;
    position: relative;
    color: #FFF;
    padding: 1rem;
}

.cursor {
    position: absolute;
    font-weight: 200;
    top: 11px;
}

.hero__image-mobile {
    width: 90%;
    position: absolute;
    z-index: -50;
    border-radius: 19px;
}
.hero__image {display: none;}
.hero-cta {display: none;}

@media (min-width: 769px) {
    .hero {
        grid-template-columns: repeat(12, 1fr);
        width: 100vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        padding: 0;
        max-height: 90vh;
    }
    .hero-title {
        grid-column: 2 / span 5;
        color: var(--color-primary);
        margin: 0;
    }
    .hero-cta {
        display: block;
        grid-column: 2 / span 2;
        width: 192px;
        font-family: 'Literata-Medium', serif;
        font-size: 1.9rem;
        letter-spacing: 2px;
        color: var(--color-secondary);
        background-color: var(--color-accent);
        border: none;
        border-radius: 19px;
        cursor: pointer;
    }
    .hero__image-mobile {display: none;}
    .hero__image {
        display: block;
        grid-column: 7 / span 5;
        width: 100%;
        height: 600px;
    }
}