nav {
    position: fixed;
    min-width: 100vw;
    padding: 0.2rem 1rem;
    top: 0;
    background-color: var(--nav-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 500;
    display: flex;
    align-items: center;
}

nav button {
    border: none;
    background: none;
    -webkit-appearance: none;
    border-radius: 0;
    height: 100%;
}

.nav__buttons {
    margin-left: auto;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav__logo {margin-right: 0;}
.nav__search {display: none; margin-left: 1rem;}
.nav__profile {display: none;}
.nav__burger-menu {
    position: relative;
    bottom: -4px;
}

/* nav button */
.nav__cart-button-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.nav__cart-button {
    position: relative;
}
.cart-button__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    aspect-ratio: 1 / 1;
    width: 24px;
    height: 24px;
    background-color: var(--color-accent);
    border-radius: 50%;
}
.cart-button__counter span {
    position: relative;
    top: -1px;
    color: var(--color-secondary);
    font-family: 'Literata-Light', serif;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

@media (min-width: 769px) {
    .nav__search {
        display: inline-block;
        margin-left: 1rem;
    }
    .nav__profile {display: inline-block;}

    .nav__burger-menu {
        display: none;
    }
}
