nav {
    position: fixed;
    min-width: 100vw;
    padding: 0.2rem 1rem;
    top: 0;
    background-color: var(--nav-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 500;
    display: flex;
    align-items: center;
}

nav button {
    border: none;
    background: none;
    -webkit-appearance: none;
    border-radius: 0;
    margin-left: 1rem;
}
.nav__profile {display:none;}
.nav__search {display: none;}

.nav__logo {
    margin-right: auto;
}