nav {
    position: fixed;
    min-width: 100vw;
    padding: 0.2rem 1rem;
    top: 0;
    background-color: var(--nav-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 500;
    display: flex;
    align-items: center;
}

nav button {
    border: none;
    background: none;
    -webkit-appearance: none;
    border-radius: 0;
    margin-left: 1rem;
}

.nav__buttons {
    margin-left: auto;
    height: 100%;
}

.nav__logo {margin-right: 0;}
.nav__search {display: none; margin-left: 1rem;}
.nav__profile {display: none;}
.nav__burger-menu {}

@media (min-width: 769px) {
    .nav__search {
        display: inline-block;
        margin-left: 1rem;
    }
    .nav__profile {display: inline-block;}

    .nav__burger-menu {
        display: none;
    }
}
