.store {
    overflow: hidden;
}

.store__section {
    background-color: var(--color-section);
    color: var(--color-primary);
    padding: 0 0 0 1rem;
    margin: 3rem 0 0 0;
    width: 100vw;
    position: relative;
}

.store__section-title {
    font-family: 'Literata-Medium', serif;
    font-size: 1.8rem;
    letter-spacing: 0.08rem;
}

.store__section-sub {
    width: 80%;
    font-family: 'Literata-Light', serif;
    font-size: 1.1rem;
    letter-spacing: 0.04rem;
}

.carousel-arrow { display: none; }

@media (min-width: 769px) {
    main.store {
        grid-column: 1 / -1;
        grid-row: 3;
    }
    .carousel-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    .store__section-wrapper {
        grid-column: 2 / 12;
    }
    .store__section {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .genre-section {
        grid-column-start: 2;
    }

    .carousel-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }

    .left-arrow {
        left: 10px;
    }

    .right-arrow {
        right: 10px;
    }
}