.store {
    overflow: hidden;
}

.store__section {
    background-color: var(--color-section);
    color: var(--color-primary);
    padding: 0 0 0 1rem;
    margin: 3rem 0 0 0;
    width: 100vw;
    position: relative;
    opacity: 0;
    bottom: -100px;
}

.store__section-title {
    font-family: 'Literata-Medium', serif;
    font-size: 1.8rem;
    letter-spacing: 0.08rem;

}

.store__section-sub {
    width: 80%;
    font-family: 'Literata-Light', serif;
    font-size: 1.1rem;
    letter-spacing: 0.04rem;
}